.bg-beige {
    background-color: #f6ebdc !important;
}
.bg-marron {
    background-color: #512314 !important;
}
.text-marron {
    color: #512314 !important;
}
.text-beige {
    color: #f6ebdc !important;
}