@font-face {
    font-family: gilroy-regular;
    src: url(../font/Gilroy-Regular.woff2);
}

::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.6vw;
}

::-webkit-scrollbar-thumb {
    background-color: #a744ed;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: gilroy-regular;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #00000089;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.logo {
    height: 30px;
}

header nav {
    width: 65%;
}

header nav ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
    display: inline;
    border-radius: 20px;
    border: solid 2px #00000000;
    padding: 5px 10px;
}

header nav ul li:hover {
    border-color: #a744ed;
}

header nav ul li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
}

#suscribete {
    border-style: none;
    background-color: #a744ed;
    height: 35px;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 20px;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}

#monedas {
    background-image: url(../img/30coins.avif);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 150px;
}

#p1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 24px 0 12px 0;
}

#p2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0;
}

#p3 {
    font-size: 15px;
    text-align: center;
    margin: 12px 0;
}

#destacados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col-imagenes {
    width: 25%;
    margin: 0 10px;
}

.col-imagenes img {
    width: 100%;
}

.col-imagenes div {
    margin: 15px 0;
}

footer {
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #040426;
    color: #7765c9;
}

footer nav ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

footer nav ul li{
    list-style: none;
    display: inline;
    border-radius: 20px;
    margin: 0 15px;
}

footer nav ul li a {
    text-decoration: none;
    display: block;
    color: #7765c9;
}

footer nav ul li a:hover {
    text-decoration: none;
    display: block;
    color: #ffffff;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

#copy-diego {
    font-family: 'Courier New', Courier, monospace;
    background-color: #00000089;
    color: #ffffff;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}