@font-face {
    font-family: roboto;
    src: url(../font/roboto.woff2);
}

body {
    margin: 0;
    font-family: roboto;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 25px;
    border-bottom: 2px solid #EEEEEE;
}

#logo {
    cursor: pointer;
}

#btn {
    background-color: #ffffff;
    border-style: none;
    box-shadow: 0px 0px 10px #CCCCCC;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
}

#btn:hover {
    background: #f6f6f6;
    cursor: pointer;
}

#btn-2 {
    background-color: #000000;
    border-style: none;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    width: 120px;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
}

#btn-2:hover {
    background: #333333;
    cursor: pointer;
}

#background {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff2d8;
    height: 600px;
}

#img1 {
    background-image: url('../img/fondo1.svg');
    background-repeat: no-repeat;
    width: 50%;
}

#img2 {
    background-image: url('../img/fondo2.svg');
    background-repeat: no-repeat;
    width: 50%;
    background-position-x: right;
}

#buscar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#buscar a {
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
}

#field-buscar {
    border-style: none;
    width: 500px;
    height: 55px;
    font-size: 15px;
}

#btn-buscar {
    border-style: none;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    height: 55px;
    font-size: 17px;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    padding: 15px;
}